* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6f6;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;
  overflow: scroll;
}

.container {
  width: 80%;
  height:590px;
  overflow: hidden;
  flex-direction: column;
  background: darkslategrey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.footer ul li {
  margin: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  overflow: hidden;
  flex-direction: column;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  width: 100px;
}
h3 {
  margin: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  overflow: hidden;
  flex-direction: column;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  font-size: 30px;
}

h3 {
  border-bottom: 3px solid #555;
  width: 120px;
}

.text-footer-2 ul li {
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  flex-direction: column;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

ul li:hover {
  color: crimson;
  transition: all 0.4s ease-in-out;
  border-bottom: 2px solid #555;
}

.text-footer-2 ul li:hover {
  width: 100px;
}

.text-footer-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 700px) {
  .footer,
  .text-footer-2,
  .text-footer-3 {
    flex-direction: column;
  }
}

.text-for-footer-3  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  flex-direction: column;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin-top: -150px;
  margin-left: -120px;
}
ul li{
  margin: 20px;
  list-style: none;
  width: 100px;
}

.text-for-footer-end{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  flex-direction: column;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin-left: -120px;
  margin-top: 119px;
}


.input-for-search input{
  outline: none;
  border: none;
  background: #f6f6f6; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: #555;
  width: 320px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
  display: flex;
  margin-left: 250px;
  margin-top: -210px;
}

.fa-search{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 120px;
  margin-top: -210px;
  z-index: 10;
  cursor: pointer;
  color: #555;
}

.fa-search:hover{
  color: crimson;
  transition: all 0.2s ease-in-out;
}

.fa-arrow-right{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555;
  font-size: 20px;
  cursor: pointer;
  margin-top: -210px;
  margin-left: 31%;
  z-index: 10;
}

.fa-arrow-right:hover{
  color: crimson;
  transition: all 0.4s ease-in-out;
}

.fa-instagram,.fa-facebook,.fa-youtube,.fa-github{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  margin: 15px;
  z-index: 10;
  margin-top: -100%;
  color: #f6f6f6;
  cursor: pointer;
  font-size: 50px;
  display: flex;
  grid-template-columns: 3,1fr;
  margin-left: 50px;
  background: #f6f6f6;
  width: 70px;
  padding: 4px;
  color: #555;
  padding-left: 13px;
}

.fa-instagram:nth-child(2):hover{
  background: crimson;
  transition: all 0.4s ease-in-out;
  color: #ffff;
}

.fa-youtube:nth-child(6){
 width: 80px;
}



